.menu .app-brand.demo {
    height: 100px !important;
    margin-top: 12px;
}
a.Logoutbtn button.btn {
        background: #e7e7e7;
}
.card-body.box-moddel {
    padding: 40px 20px 0px 20px !important;
    background: #e4d0ff;
}
a.app-brand-link {
    display: block !important;
}
.box-moddel p {
    margin-top: 20px;
}
img {
    width: 100%;
}

table#newRow {
    display: none
  }