
        body {
            background: #f4eff3 !important;
            }
            img {
            vertical-align: middle;
            width: 100%;
            height: 100%;
            }
            nav.navbar.navbar-expand-sm.navbar-dark {
            background: #ffffff;
            padding: 10px 70px;
            }
            .container.main-container {
            padding: 0px 0px;
            background: #ffffff;
            width: 65%;
            }
            div#collapsibleNavbar a {
            color: #000000 !important;
            font-weight: 500;
            }
            div#collapsibleNavbar a:focus, div#collapsibleNavbar a:hover {
            color: rgb(151 83 186) !important;
            }
            a.nav-link.Como-funciona {
            width: 150px;
            text-align: right;
            }
            li.nav-item.Login-suportadas {
            width: 150px;
            text-align: center;
            }
            li.nav-item.Login-menu {
            width: 150px;
            text-align: right;
            }
            i.fa.login-user {
            margin-right: 20px !important;
            color: #67e0ff;
            width: 20px;
            }
            p.split-word-flow {
            color: #ffffff;
            font-size: 45px;
            font-weight: bolder;
            margin-top: -50px;
            line-height: 1.20;
            }
            p.split-word-flow span.split-word.word3 {
            font-weight: 400;
            }
            .icon-img-sec {
            display: flex;
            }
            .boxiconsec-first {
            width: 100%;
            height: 400px;
            background: white;
            border: 1px dashed #893ab0;
            border-radius: 20px;
            }
            p.uncode_text {
            color: #808080;
            }
            .textdivbox p {
            color: gray;
            font-weight: 500;
            }
            .uncode_text_column.text-lead.divsecond {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            }    
            .boxiconsec-second {
            width: 90%;
            height: 300px;
            background-color:#e6d7eb;
            border-radius: 3px 20px 20px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
            color: #68319b;
            font-weight: 500;
            }
            .uncode_text_column.text-lead {
            width: 50%;
            }    
            .plusicondiv {
            width: 100%;
            height: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            }    
            .plusicondiv a {
            background: #67e0ff;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: white;
            margin-top: 50px;
            }
            .bottom-boxsec {
            width: 100%;
            display: flex;
            min-height: 500px;
            margin-bottom: 60px;
            }    
            .textboxiconsec {
            background:#e6d7eb;
            align-self: flex-end;
            padding: 5px;
            color: #68319b;
            width: 100%;
            height: 200px;
            font-weight: 500;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px 20px 3px 20px;
            }    
            .textboxiconsec p {
            width: 50%;
            margin: 0 auto;
            }
            .textvelusec p {
            width: 50%;
            color: gray;
            font-weight: 500;
            }
            p.number-welu {
            text-align: right;
            }
            .textvelusec {
            background: #ffffff;
            box-shadow: 0px -2px 10px 0px #b2b2b2;
            border-radius: 10px 10px 0px 0px;
            padding: 40px 70px; 
            }
            span.numberwelu€ {
            font-size: 23px;
            font-weight: 600;
            color: #b7b7b7;
            }
            .row.mtop2 {
            margin-top: 30px;
            }
            
            
           /*  page2 css start */
           
           .container-fluid.paidtop {
               padding-top: 20px;
               background: #fdfdfd;
           }
            
            p.uncode_text-cros {
               text-align: right;
               width: 20%;
           }
            h4.fontspacer {
               width: 80%;
               display: flex;
               align-items: center;
               justify-content: flex-start;
           }
            .fa-times-thin:before {
               content: '\00d7';
           }
           p.uncode_text-cros i.fa-times-thin {
               font-size: 50px;
           }
           
           
           .text-divsecond {
               width: 33%;
           }
           .text-divsecond.mardiv {
               margin: 0 1%;
           }
           .plusicondiv-secimg a {
               background: #67e0ff;
               width: 40px;
               height: 40px;
               display: flex;
               align-items: center;
               justify-content: center;
               border-radius: 50%;
           }	 
            .plusicondiv-secimg1 {
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: start;
           }
            .plusicondiv-secimg2 {
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
           }
            .plusicondiv-secimg3 {
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: end;
           }
           .plusicondiv-secimg a {
               background: #67039a;
               width: 40px;
               height: 40px;
               display: flex;
               align-items: center;
               justify-content: center;
               border-radius: 50%;
           }
           
           .plusicondiv-secimg1 a, .plusicondiv-secimg2 a, .plusicondiv-secimg3 a{
               background: #67039a;
               width: 90px;
               height: 90px;
               display: flex;
               align-items: center;
               justify-content: center;
               border-radius: 50%;
           }
           .textdivbox.text-right p {
               text-align: right;
           }
           img.img-responsicon {
               width: 80px;
               height: 80px;
           }
            .plusicondiv-secimg2.plainimg img.img-responsicon {
               width: 80px;
               height: 80px;
           }
           .plusicondiv-secimg2 img.img-responsicon {
               width: 60px;
               height: 60px;
           }
           
           .textmeusec {
               margin-top: 20px;
               padding-bottom: 30px;
           }
           .textmeusec p {
               width: 40%;
               margin: 0 auto;
               color: #68319b;
               text-align:center;
               font-weight: 500;
               padding-bottom: 5px;
               border-bottom: 1px solid #b7b7b7;
           }
           .Peoximo {
               width: 100%;
               background: #c8c8c8;
               padding: 10px;
           }
           .Peoximo p {
               margin: 0 !important;
               color: #ffffff;
               font-weight: 500;
           }
           .iconsecdivimg {
               padding: 50px;
           }
           
           
           
           
            
            
            
            /*  page2 css end */
            
            /*  page3 css start */
               
               
           input.input-box {
            margin-top: 20px;
            }
            .container.bottom-sec {
            padding-bottom: 22rem;
            }
            i.icon-plus {
            font-size: 12px;
            }
            input.input-box {
            margin-top: 20px;
            background: #ececec;
            border: none;
            }
       
            
             /*  page3 css end */
             
             
              /*  page4 css start */
              
              .heading-text-box {
               background: #f3c900;
               text-align: left;
               padding: 20px;
               color: black;
               border-radius: 10px;
               margin-bottom: 30px;
           }
   
           p.Estamos_text {
               color: #000000;
               font-weight: 500;
               font-size: 16px;
               margin: 0;
           }
           .text_column {
       width: 50%;
   }
   .text_column2 {
       width: 2%;
   }
       .boxiconsec-box2 {
       width: 100%;
       height: 400px;
       border: 1px dashed #b6b6b6;
       background: white;
       border-radius: 20px;
   }	   
   
       .boxiconsec-box1 {
       width: 100%;
       height: 400px;
       background: white;
       border-radius: 20px;
       padding:30px;
   }	
   .Saúdeicondiv {
       width: 100%;
     /*   height: 200px; */
       
   }
   
   .Saúdeicondiv a {
       /* background: #67e0ff; */
       width: 40px;
       height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
       color: white;
   }
   .Seguro-Saúde {
       height: 260px;
       margin: 20px 0px 0 0px;
   }
   .Saúdeicondiv p {
       color: #000000;
       font-weight: 500;
       font-size: 16px;
   }
   
   .FIDELIDADE p {
       color: gray;
   }
   .boxsec-bottom {
       width: 100%;
       display: flex;
       min-height: 200px;
       margin-bottom: 60px;
   }
   
   
   a.ankardiv {
       text-decoration: none;
   }
   
   .Saúdeicondiv img.img-responsicon {
       width: 50px;
       height: 50px;
   }
   
   
   
       
              
               /*  page4 css end */
            
            @media only screen and (max-width: 992px) {
            .logo-image.main-logo.logo-dark {
            height: 50px !important;
            }
            nav.navbar.navbar-expand-sm.navbar-dark {
            background: #ffffff;
            padding: 10px 20px;
            }
            
            .textmeusec p {
                   width: 80%;
                   text-align: center;
               }
            }
            @media only screen and (max-width: 575px) {
            .logo-image.main-logo.logo-dark {
            height: 50px !important;
            }
            nav.navbar.navbar-expand-sm.navbar-dark {
            background: unset;
            padding:0;
            }
            .container.main-container {
            padding: 10px 15px;
            background: #ffffff;
            width: 100%;
            }
            div#collapsibleNavbar {
            background: #ffffff;
            width: 50% !important;
            margin-left: 45%;
            margin-right: 5%;
            text-align: center;
            padding: 15px;
            border-radius: 15px;
            }
            div#collapsibleNavbar a {
            color: #000000 !important;
            font-weight: 500;
            text-align: left !important;
            }
            .container.main-container button {
            border-color: unset;
            border: none;
            color: #b6b6b6;
            padding: 0 !important;
            }
            .container.main-container button:focus {
            box-shadow: unset;
            }
            /* 28-april */
            p.uncode_text {
            color: #808080;
            font-size: 14px;
            font-weight: 500;
            }
            .plusicondiv {
            height: 120px; 
            }
            .plusicondiv a {
            margin-top: 20px;
            }
            .boxiconsec-first {
            width: 100%;
            height: 180px;
            border: 1px dashed #893ab0;
            }
            .textdivbox p {
            color: gray;
            font-weight: 500;
            font-size: 14px;
            }
            .uncode_text_column.text-lead.divsecond {  
            height: 160px;
            }
            .boxiconsec-second p {
            font-size: 14px;
            color: #68319b;
            font-weight: 500;
            }
            .boxiconsec-second {
            width: 90%;
            margin-left: 5%;
            height: auto;
            padding: 20px;
            }
            .bottom-boxsec {
            width: 100%;
            display: flex;
            min-height: 280px;
            margin-bottom: 30px;
            }
            .textboxiconsec p {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            color: #68319b;
            font-weight: 500;
            font-size: 14px;
            }
            .textboxiconsec { 
            height: auto;
            }
            .textvelusec p {
            font-size: 14px;
            font-weight: 500;
            }    
            .textvelusec {
            padding: 15px;
            }    
            .row.mtop2 {
            margin-top: 15px;
            }  
   
               .textmeusec p {
               width: 100%;
               margin: 0 auto;
               font-size: 14px; 
           }
           
           .Peoximo {
               width: 100%;
               background: #c8c8c8;
               padding: 5px;
           }
           .Peoximo p {
               font-size: 14px;
               font-weight: 500;
           }
           .plusicondiv-secimg1 a, .plusicondiv-secimg2 a, .plusicondiv-secimg3 a {
               width: 50px;
               height: 50px;	
           }
           img.img-responsicon {
               width: 40px;
               height: 40px;
           }
           .plusicondiv-secimg2 img.img-responsicon {
               width: 30px;
               height: 30px;
           }
           h4.fontspacer {
               font-size: 20px;
           }
           p.uncode_text-cros i.fa-times-thin {
               font-size: 40px;
           }
           .plusicondiv-secimg2.plainimg img.img-responsicon {
               width: 40px;
               height: 40px;
           }
           .iconsecdivimg {
               padding: 20px;
           }
           
           .textmeusec {
               margin-top: 20px;
               padding-bottom: 15px;
           }
           
           
            /*  page3 @media css  start */
           
           .container.bottom-sec {
            padding-bottom: 15rem;
            }
            
             /*  page3 @media css end */
             
           /*  page4 @media css  start */
           
           
           p.Estamos_text {
               font-size: 14px;
               margin: 0;
           }
           
           .boxiconsec-box1 {
               width: 100%;
               height: 180px;
           }
           .boxiconsec-box2 {
               width: 100%;
               height: 180px;
               border: 1px dashed #b6b6b6;
           }
           .Seguro-Saúde{
       margin: 10px 0px 0 0px;
       height: 70px;
   }
   
   .Saúdeicondiv p {
       color: gray;
       font-weight: 500;
       font-size: 14px;
   }
   
   .FIDELIDADE p {
       color: gray;
       font-size: 12px;
   }
   .boxsec-bottom{
       width: 100%;
       display: flex;
       min-height: 100px;
       margin-bottom: 30px;
   }
   
   .Saúdeicondiv img.img-responsicon {
       width: 40px;
       height: 40px;
   }
   
   .boxiconsec-box1 {
       
       padding:20px;
   }
   
   
              
              /*  page4 @media css end */ 
           
            }
