{% load static %}

<link rel="stylesheet" href="{% static 'app.css' %}">

</style>

<div class="wrapper bg-white">
    <div class="h2 text-center">Rewire</div>
  <h2><div class="h4 text-muted text-center pt-2">Login</div><br></h2>
    <form class="pt-3" method ="POST">
        {% csrf_token %}
        <div class="form-group py-2">
            <label>Enter your Email Address</label>
            <div class="input-field"> <span class="far fa-user p-2"></span> <input type="text" placeholder="Email Address" name="email"></div><br>
        </div>

        <button class="btn btn-block text-center my-3" type="submit">Submit</button>
  
    </form>
</div>




