{% load static %}

<link rel="stylesheet" href="{% static 'app.css' %}">


</style>

<div class="wrapper bg-white">
    {% load crispy_forms_tags %}  
    <div class="h2 text-center">Rewire</div>
  <h2><div class="h4 text-muted text-center pt-2">Reset Password</div><br></h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group py-2">
            <label>Enter New Password</label>
            <div class="input-field"> <span class="far fa-user p-2"></span> <input type="password" placeholder="Enter Password" name="password"></div><br>
        </div>

        <div class="form-group py-2">
            <label>Confirm New Password</label>
            <div class="input-field"> <span class="far fa-user p-2"></span> <input type="password" placeholder="Confirm Password" name="confirm"></div><br>
        </div>
        {% if messages%}
        <ul class="messages">
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="row">
                    {% comment %} <div class="col-sm-2">
                <div class="image_check"><img src="/static/image/check.jpg"></div></div> {% endcomment %}
               
                <div class="col-sm-12"><div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                    <center>{{ message }}</center> 
           
                    {% endfor %}
        </ul> 
          {%endif%} 
        <button class="btn btn-block text-center my-3" type="submit">Reset password</button>
        
  
    </form>
</div>


